[submodule "pybind11"]
	path = pybind11
	url = https://github.com/pybind/pybind11.git
	branch = master
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
	branch = master
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog.git
	branch = master
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson.git
	branch = master
[submodule "yaml-cpp"]
	path = yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
	branch = master
